<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Inventory</h1>
   

  <div>
    <p>The amount of number on hand less than 10 <input type="submit" value="Click to check"> </p>
  </div>
  <div>{{cnames}}</div>

  <div> <p> --------------------------- </p></div>

  <div>
    <select>
    <option value="" disabled="disabled" selected="selected">Please select a type of Chocolate</option>
    <option value="1">Dark</option>
    <option value="2">Milk</option>
    <option value="3">White</option>
    </select>
  </div>

  <div>{{ctypes}}</div>



 


</body>
