<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Chocolate Shop Management Inventory System</h1>

    <div> <p> ------------------------------------------------------ </p></div>

     <h3> Stock and Reorders </h3>

   <div> <p> ------------------------------------------------------ </p></div>

  <div>
    <form method="POST" action="/chocolatenumber">
    <h5>1. Enter a chocolate id to show the amount you have on hand <input type="text" name="chocolate_id"> <input type="submit" value="Check"> </h5>
    </form>
  </div>
  
   
  <div>
    <h5>2. Chocolates where the number on hand is less than 20 [chocolate id, chocolate name, type, chocolate price, number on hand, number to reorder] </h5>
  </div>
  <div>{{cnames}}</div>

   <div>
    {% for b in cnames %}
    <div>{{b}}</div>
    {% endfor %}
    </div>

  <div>
    <form method="POST" action="/companyinfo">
    <h5>3. Enter a chocolate id to show the information of the company that produces it <input type="text" name="chocolate_id">  <input type="submit" value="Check"> </h5>
    </form>
  </div>
  

   <div>
    <h5>4. Company contact information for chocolates where the number on hand is less than 20 [chocolate name, company name, phone number, email]  </h5>
  </div>

  <div>{{reorders}}</div>

  <div>
    {% for c in reorders %}
    <div>{{c}}</div>
    {% endfor %}
    </div>

  <div>
    <form method="POST" action="/update">
    <h5>5. Update how much of a chocolate you will reorder by entering a chocolate id <input type="text" name="chocolate_id"> and the amount you wish to reorder <input type="text" name="number_to_reorder"> <input type="submit" value="Check"> </h5>
    </form>
  </div>
  <div>{{updates}}</div>


  <div> <p> ------------------------------------------------------ </p></div>

     <h3> Inventory </h3>

  <div> <p> ------------------------------------------------------ </p></div>


  <div>
    <form method="POST" action="/typec">
    <h5> 1. Select a type to show the chocolate information of all chocolates of that type: 
    <select name = "chtype">
    <option selected="selected" disabled="disabled">Please select a type of Chocolate</option>
    <option value="Dark">Dark</option>
    <option value="Milk">Milk</option>
    <option value="White">White</option>
    </select>
    <input type="submit" value="submit">
    </h5>
    </form>
  </div>

  <div>{{ctypes}}</div>


  <div>
    <form method="POST" action="/country">
    <h5>2. Enter a country to find the chocolates made with beans from that country <input type="text" name="bean_country">  <input type="submit" value="Check"> </h5>
    </form>
  </div>
  <div>{{cbeans}}</div>


  <div> <p> ------------------------------------------------------ </p></div>

     <h3> Profit and Revenue </h3>

  <div> <p> ------------------------------------------------------ </p></div>


<div>
     <form action="/popular" method="POST">
    <h5>1. Most popular chocolate and least popular chocolate in the shop </h5> 
    <input type="checkbox" name="chocolatep" value="popular"> Most Popular one :)<br>
    <input type="checkbox" name="chocolatenp" value="npopular"> Least Popular one :(<br>
    <input type="submit" value="Check"> 
    </form> 
  </div>

  

  <div>
  <h5>2. Total profit gained </h5> 
  <div> {{profits}} </div>
  </div>

<div>
<h5>3. Average profit per order </h5> 
<div> {{avgprofits}} </div>
</div>





  <div> <p> ------------------------------------------------------ </p></div>

  <h3> Orders </h3>

   <div> <p> ------------------------------------------------------ </p></div>

  <div>
    <h5>  1. Order History [Order number, Order Date, Order Price] </h5>
    <div> {{orders}} </div>

    <div>
    {% for n in orders %}
    <div>{{n}}</div>
    {% endfor %}
    </div>

    
    <h5> 2. Orders whose delivery have not been completed yet [order number, order date, method of delivery, date of delivery]  </h5>
    <div> {{ordersnotc}} </div>
    

    <div>
    {% for m in ordersnotc %}
    <div>{{m}}</div>
    {% endfor %}
    </div>

    <form method="POST" action="/another">
    <h5> 3. Enter a date in MM/DD/YY format to find order placed on that date <input type="text" name="order_date"> <input type="submit" value="Check"></h5>
    </form>


    <form method="POST" action="/orderinfo">
    <h5> 4. Enter an order number to show its order information <input type="text" name="order_number"> <input type="submit" value="Check"></h5>
    </form>

  </div>



 


</body>
